<!DOCTYPE html>
<html lang="en">

<head>
    <title>날씨데이터</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .m_box {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
        }

        .m_tm_20 {
            margin-top: 20px;
        }
    </style>
</head>

<body>

    <div class="container m_box m_tm_20">

        {% for weather in weathers %}
        <div class="card">
            <div class="card-body">
                <p class="card-text">날짜: {{weather.MSRDT}}</p>
                <p class="card-text">지역 : {{weather.MSRSTE_NM}}</p>
                <p class="card-text">미세먼지 : {{weather.PM10}}</p>
                <p class="card-text">상태 : {{weather.IDEX_NM}}</p>
            </div>
        </div>
        {% endfor %}

    </div>

</body>

</html>